table {
    width: auto !important;
}

body {
    margin: 8px !important;
}

@media only screen and (max-width: 800px) {
    form > * {
        display: block;

    }
}

.form-control {
    margin-bottom: 5px;
}
